:root{

    /*-------------------------------font-size------------------------*/

    --fs-2xl:48px;
    --fs-xl:36px;
    --fs-lg:24px;
    --fs-md:20px;
    --fs-sm:18px;
    
    /*----------------------------font-weight------------------------*/
    --fw-lg:700;
    --fw-md:500;
    --fw-sm:400;
    --fw-xl:600; 
}
/*----------------------------------------root----------------------*/


.font-400-18{
    font-size: var(--fs-sm);
    font-weight: var(--fw-sm);
}
.font-600-18{
    font-size: var(--fs-sm);
    font-weight: var(--fw-xl);
}
.font-500-20{
    font-size: var(--fs-md);
    font-weight: var(--fw-md);
}
.font-700-24{
    font-size: var(--fs-lg);
    font-weight: var(--fw-lg);
}
.font-700-36{
    font-size: var(--fs-xl);
    font-weight: var(--fw-lg);
}
.font-700-48{
    font-size: var(--fs-2xl);
    font-weight: var(--fw-lg);
}

/*---------------------------------------media-screen-------------*/

@media (max-width:992px) {
    :root{
        --fs-2xl:40px;
    --fs-xl:30px;
    --fs-lg:20px;
    --fs-md:18px;
    --fs-sm:16px;
    }
}
@media (max-width:767px) {
    :root{
        --fs-2xl:36px;
    --fs-xl:26px;
    --fs-lg:28px;
    --fs-md:16px;
    --fs-sm:14px;
    }
}
@media (max-width:512px) {
    :root{
        --fs-2xl:30px;
    --fs-xl:20px;
    --fs-lg:18px;
    --fs-md:14px;
    --fs-sm:12px;
    }
}
@media (max-width:375px) {
    :root{
        --fs-2xl:26px;
    --fs-xl:18px;
    --fs-lg:14px;
    --fs-md:12px;
    --fs-sm:10px;
    }
}