@import url(./root.css);

.nav-bg {
    background: #F6E300;
}

@media (max-width:992px) {
    .nav-link {
        display: flex;
        flex-direction: column;
        background-color: #F6E300 !important;
        width: 30%;
        min-height: 100vh;
        position: fixed;
        justify-content: center;
        bottom: 0;
        left: -100% !important;
        top: 0%;
        transition: all 300ms linear;
    }

    .show-nvabar {
        left: 0 !important;
    }

    .menu-btn {
        width: 35px;
        margin-top: 15px;
        background: none;
        display: block;
        z-index: 2;
    }

    .line {
        height: 4px;
        display: flex;
        margin: 4px;
        background: white;

    }

    .line-1 {
        width: 13px;
    }

    .pos {
        top: -7px;
    }
}