@import url(./root.css);

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.font-family{
    font-family: "Poppins", sans-serif;
}

.nav-bg {
    background: #F6E300;
}

.w-30 {
    width: 35%;
}

.pb-130 {
    padding-bottom: 170px;
}
.home:hover{
    color: red !important; 
    -webkit-text-stroke: 1px;
}
.wallet:hover{
    background-color: rgb(222, 230, 230);
    transition: all .2s linear;
}
.discover:hover{
    background-color: rgb(232, 81, 81) !important;
}

.open {
    left: 33%;
    top: 72%;
}

.burger-1 {
    top: 5px;
    left: 4%;
}

.burger-2 {
    top: 5px;
    left: 25%;
}

.burger-3 {
    top: 5px;
    right: 25%;
}

.burger-4 {
    top: 5px;
    right: 4%;
}

.burger-5 {
    bottom: 60px;
    left: 4%;
}

.burger-6 {
    bottom: 60px;
    left: 25%;
}

.burger-7 {
    bottom: 60px;
    right: 4%;
}

.burger-8 {
    bottom: 60px;
    right: 20%;
}

.about-img {
    max-width: 400px;
}
.py-114{
    padding-top: 114px;
    padding-bottom: 90px;
}
.bg-yellow {
    background: #F6E300 !important;
}
.bg-yellow-2{
    background: #FFF03F !important;
}
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: red;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  .box::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -11px;
    background-color: white;
    top: 0;
    border-radius: 50%;
    z-index: 1;
  }
  .left {
    left: 0;
  }
  
  .right {
    left: 50%;
  }
  
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }

  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;

    border-width: 10px 10px 10px 0;
  }
  
  .right::after {
    left: -11px;
  }
  .box{
    width: 50%;
  }

  .burger-11 {
    top: 20%;
    left: 1%;
}

.burger-12 {
    top: 5px;
    left: 25%;
}

.burger-13 {
    top: 15%;
    right: 25%;
}

.burger-14 {
    top: 5px;
    right: 4%;
}

.burger-15 {
    bottom: 60px;
    left: 0%;
}

.burger-16 {
    bottom: 40%;
    left: 30%;
}

.burger-17 {
    bottom: 15%;
    right: 4%;
}

.burger-18 {
    bottom: 15%;
    right: 25%;
}
  
  


@media (max-width:992px) {
    .nav-link {
        display: flex;
        flex-direction: column;
        background-color: #F6E300 !important;
        width: 100%;
        position: fixed;
        justify-content: center;
        bottom: 0;
        left: -100% !important;
        top: 0%;
        z-index: 2;
        transition: all .5s linear !important;
    }

    .show-nvabar {
        left: 0 !important;
    }

    .menu-btn {
        width: 35px;
        margin-top: 15px;
        background: none;
        display: block;
        z-index: 3;
    }

    .line {
        height: 4px;
        display: flex;
        margin: 4px;
        background: white;

    }

    .line-1 {
        width: 13px;
    }

    .pos {
        top: -7px;
    }

    .burger-1 {
        top: 20px;
    }

    .burger-2 {
        top: 20px;
    }

    .burger-3 {
        top: 20px;
    }

    .burger-4 {
        top: 20px;
    }

    .burger-5 {
        bottom: 40px;
    }

    .burger-6 {
        bottom: 40px;
    }

    .burger-7 {
        bottom: 40px;
    }

    .burger-8 {
        bottom: 30px;
    }

    .pt-100 {
        padding-top: 100px;
    }

    .burger {
        width: 80px;
    }

    .pb-130 {
        padding-bottom: 80px;
    }
}

@media screen and (max-width: 768px) {
    .logo-img {
        max-width: 200px;
    }
    .discord{
        max-width: 50px;
    }
    .burger-11 {
        display: none;
    }
    
    .burger-12 {
       display: none;
    }
    
    .burger-13 {
      display: none;
    }
    
    .burger-14 {
        display: none;
    }
    
    .burger-15 {
        display: none;
    }
    
    .burger-16 {
        display: none;
    }
    
    .burger-17 {
        display: none;
    }
    
    .burger-18 {
       display: none;
    }

    .timeline::after {
      left: 9px;
    }
  
    .box {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
  
    .box::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }
  
    .left::after, .right::after {
      left: -4px;
    }

    .right {
      left: 0%;
    }
  }
  
 

@media (max-width:512px) {
    .burger-1 {
        display: none;
    }

    .burger-2 {
        display: none;
    }

    .burger-3 {
        display: none;
    }

    .burger-4 {
        display: none;
    }

    .burger-5 {
        display: none;

    }

    .burger-6 {
        display: none;
    }

    .burger-7 {
        display: none;
    }

    .burger-8 {
        display: none;

    }

    .pb-130 {
        padding-bottom: 60px;
    }

    .pt-100 {
        padding-top: 20px !important;
    }

    .logo-img {
        max-width: 100px;
    }

    .menu-btn {
        width: 25px;
        margin-top: 4px;
    }

    .line {
        height: 3px;
        margin: 3px;

    }
    .py-50{
        padding-top: 50px;
        padding-bottom: 20px;
    }
    .discord{
        max-width: 30px;
    }
    
}